fly.toml
.opencode

.env
.env.*
docker/.env

.venv

.pytest_cache

.DS_Store

__pycache__

/vector_stores
/uploads
/markdown
/vector_stores/faiss_index

/backend/*
backend/vector_stores/faiss_index/*

/backend/vector_stores/*
backend/*

/dist
/build

**/uploads/
**/vector_stores/

dump.rdb

.nox

.coverage

.mypy_cache

.ruff_cache

/temp
/temp/*

.cursor/
.cursor/*

.db
node_modules
.vercel
.env*.local
